* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  height: 500px;
  margin: 4rem auto;
}

.row {
  display: flex;
  height: 100%;
}

.filter{
    filter: brightness(0.5);
}

.main_img {
  width: 80%;
  height: 100%;
  position: relative;
}

.text{
    color: white;
    text-align: right;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}

.slider_img {
  width: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.slider_img>img{
    height: calc(100% / 5);
}

.navigator {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1rem 0;
  color: white;
  font-size: 30px;
}
